body {
  background-color: rgb(34, 30, 30);
  color: white;
}

td {
  border: 1px solid white;
  padding: 5px;
  text-align: center;
}

th {
  border: 1px solid white;
  padding: 5px;
}

table {
  border-collapse: collapse;
  margin-top: 30px;
}

.filters {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.sort-filter {
  align-items: flex-end;
  background-color: rgb(6, 6, 58);
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-top: 2px solid black;
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
  padding: 10px;
  width: 600px;
}

.name-filter {
  align-items: flex-end;
  background-color: rgb(6, 6, 58);
  border: 2px solid black;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  width: 600px;
}

.numeric-filter {
  align-items: flex-end;
  background-color: rgb(6, 6, 58);
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  padding: 10px;
  width: 600px;
}

label {
  display: flex;
  flex-direction: column;
  width: auto;
}

.sort-label {
  margin-left: 10px;
  margin-right: 10px;
}

input {
  border-radius: 5px;
}

.planet-input {
  width: 570px;
}

button {
  background-color: yellow;
  border-radius: 5px;
  height: 30px;
  vertical-align: middle;
}

.no-filter {
  margin: 20px;
}

.set-filter {
  align-items: center;
  background-color: rgb(23, 122, 89);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  margin: 10px;
  position: relative;
  width: 400px;
}

.remove-button {
  background-color: red;
  height: 25px;
  position: absolute;
  right: 5px;
}
